@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: 'Arial', sans-serif;
}

.asset-card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.asset-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}